body {
  width: 22rem;        /* circa 350px se 1rem = 16px */
  min-height: 9rem;    /* circa 144px */
  margin: 0;
  padding: 1rem;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #222;
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

#messageContainer {
  margin-bottom: 0.6rem;
  font-style: italic;
  color: #555;
}

#statusContainer h2{
  margin-top: 1rem;
  font-weight: bold;
  color: red;
}

#statusContainer p {
  color: #555;
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

